#main-logo {
  filter: drop-shadow(2px 2px 2px $black);
  .cls-1 {
    stroke: #ccc;
    stroke-width: rem(2px);
    stroke-linecap: round;
    transition: fill 0.3s cubic-bezier(0.5, -0.5, 0.5, 1.5);
  }
}
